<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Form</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<style>
		body {
			background-color: #f5f5f5;
		}

		.navbar {
			background-color: #1F3A93;
		}

		.card-header,
		.btn-primary {
			background-color: #1F3A93;
			border-color: #1F3A93;
			color: white;
		}

		.card {
			margin-top: 50px;
		}
	</style>


</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Kharanshu Bank</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item">
						<button class="btn btn-secondary ml-2">SignIn</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-5 ">


		<div class="text-center h1 card-header">Register Form</div>

		<div class="container">


			<!-- form start -->
			<form th:action="@{/processregistration}" th:object="${requestDto}" method="post">
				<!-- email start -->
				<div class="form-group row mb-3 mt-3">
					<label for="email" class="col-md-4 col-form-label text-md-right">Email:</label>
					<div class="col-md-6">
						<input type="email" id="email" th:field="*{email}" class="form-control" required>
						<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">
						</div>

						<!--                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"-->
						<!--                                        class="text-danger"></div>-->
					</div>
				</div>

				<!-- password -->
				<div class="form-group row mb-3">
					<label for="password" class="col-md-4 col-form-label text-md-right">Password:</label>
					<div class="col-md-6">
						<input type="password" id="password" th:field="*{password}" required class="form-control">
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
							class="text-danger"></span>
					</div>
				</div>
				<!-- first name -->
				<div class="form-group row mb-3">
					<label for="fname" class="col-md-4 col-form-label text-md-right">First Name:</label>
					<div class="col-md-6">
						<input type="text" id="fname" th:field="*{fname}" required class="form-control">
						<span th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}" class="text-danger"></span>
					</div>
				</div>
				<!-- last name -->
				<div class="form-group row mb-3">
					<label for="lname" class="col-md-4 col-form-label text-md-right">Last Name:</label>
					<div class="col-md-6">
						<input type="text" id="lname" th:field="*{lname}" required class="form-control">
						<span th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}" class="text-danger"></span>
					</div>
				</div>
				<!-- phone no  -->
				<div class="form-group row mb-3">
					<label for="phoneno" class="col-md-4 col-form-label text-md-right">Phone Number:</label>
					<div class="col-md-6">
						<input type="tel" id="phoneno" th:field="*{phoneno}" required class="form-control">
						<span th:if="${#fields.hasErrors('phoneno')}" th:errors="*{phoneno}" class="text-danger"></span>
					</div>
				</div>

				<!-- gender -->
				<div class="mb-3">

					<label for="formGroupExampleInput" class="form-label">Gender:</label>
					<select class="form-select" aria-label="Default select example" th:field="*{gender}">

						<option value="male" id="male" th:value="male">Male</option>
						<option value="female" id="female" th:value="female">Female</option>

					</select>

					<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></span>
				</div>


				<!-- date of birth -->
				<div class="form-group row mb-3">
					<label for="dob" class="col-md-4 col-form-label text-md-right">Date of Birth:</label>
					<div class="col-md-6">
						<input type="date" id="dob" th:field="*{dob}" required class="form-control"
							data-date-format="yyyy-mm-dd">

						<span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="country">Country</label>
					<select id="country" class="form-control" name="country" required>
						<option value="">Select Country</option>
						<th:block th:each="country : ${countries}">
							<option th:value="${country.id}" th:text="${country.countryName}"></option>
						</th:block>
					</select>
				</div>

				<div class="form-group">
					<label for="state">State</label>
					<select id="state" class="form-control" name="state" required>
						<option value="">Select State</option>
					</select>
				</div>

				<div class="form-group">
					<label for="district">District</label>
					<select id="district" class="form-control" name="district" required>
						<option value="">Select District</option>
					</select>
				</div>
				
				

				<div class="form-group">
					<label for="city">City</label>
					<select id="city" class="form-control" name="cityId" required>
						<option value="">Select City</option>
					</select>
				</div>

				<!-- register button -->
				<div class="form-group row mb-3">
					<div class="col-md-6 offset-md-4">
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
				</div>
			</form>

			<!-- form end -->

			<!-- Login Redirect -->
			<div class="mt-3 text-center">
				<p>Already have an account? <a th:href="@{/login}" class="text-primary">Login here</a></p>
			</div>


		</div>


	</div>


	<!-- script for handling datepicker -->
	<script>
		document.addEventListener("DOMContentLoaded", function () {

			// make calendar date less than today's date
			let userdate = document.getElementById('dob');
			userdate.max = new Date().toISOString().split("T")[0];

			var dobInput = document.getElementById("dob");

			dobInput.addEventListener("input", function () {
				var currentDate = new Date();
				var selectedDate = new Date(dobInput.value);

				if (selectedDate > currentDate) {
					dobInput.setCustomValidity("Date must be before current date");
				} else {
					dobInput.setCustomValidity("");
				}
			});
		});
	</script>

	<!--script for ajax request -->

	<script>
		$(document).ready(function () {
			// Load states when country is selected
			$('#country').change(function () {
				var countryId = $(this).val();
				$.ajax({
					url: '/api/states/' + countryId,
					method: 'GET',
					success: function (states) {
						$('#state').empty().append('<option value="">Select State</option>');
						$.each(states, function (index, state) {
							+            $('#state').append('<option value="' + state.id + '">' + state.stateName + '</option>');
						});
					}
				});
			});

			// Load districts when state is selected
			$('#state').change(function () {
				var stateId = $(this).val();
				$.ajax({
					url: '/api/districts/' + stateId,
					method: 'GET',
					success: function (districts) {
						$('#district').empty().append('<option value="">Select District</option>');
						$.each(districts, function (index, district) {
							$('#district').append('<option value="' + district.id + '">' + district.districtName + '</option>');
						});
					}
				});
			});

			// Load cities when district is selected
			$('#district').change(function () {
				var districtId = $(this).val();
				console.log(districtId);
				$.ajax({
					url: '/api/cities/' + districtId,
					method: 'GET',
					success: function (cities) {
						
						console.log(cities);
						$('#city').empty().append('<option value="">Select City</option>');
						$.each(cities, function (index, city) {
							console.log(city.id);
							console.log(city.cityName);
							$('#city').append('<option value="' + city.id + '">' + city.cityName + '</option>');
						});
					},
					error: function(xhr, status, error) {
					    console.log('Error:', error);
					  }
				});
			});
		});
	</script>

</body>

</html>