body{
    background-color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1
{
    text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
    font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin-bottom: 30px;
}

form{
    background-color: #a7f7ef;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 5px 10px 20px  rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(204, 165, 255);
    border-radius: 20px;
}
.form-control{
    text-align: left;
    margin-bottom: 25px;
    line-height: 1.5;
    
}
.form-control label{
    display: block;
    margin-bottom: 10px ;
}

.form-control input,
.form-control select ,
.form-control textarea{
    border: 1px solid black;
    border-radius:  2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 60%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"]
{
    display: inline-block;
    width: auto;
}

button{
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    vertical-align: middle;
}

button:hover,
button:focus{
    background-color: #16437E;
  color: #ffffff;
}